@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
    background: -webkit-linear-gradient(#ffc100, #ffdb00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}